* {
    font-family: Lato;
}
header {
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    gap: 100px;
    border: 0px;
    margin: 0px;
}

.header-text {
    padding-left: 240px;
    padding-top: 200px;
    padding-bottom: 150px;
}

.header-text>h1 {
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 700px;
}

.header-text>p {
    color: rgba(39, 39, 39, 0.60);
    padding-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 634px
}

.button-pink {
    border-radius: 8px;
    background: #E55473;
    border: 0px;
    padding: 20px 43px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.header-image {
    padding-top: 50px;
    width: 635px;
}

.section-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 600px;
}

.features {
    background: #FFF;
}

.feature-title {
    padding-top: 178px;
}

.feature-description {
    padding: 0px 635px;
}

.images-feat {
    padding-top: 48px;
    padding-left: 200px;
    padding-right: 200px;
}

.feature-image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding-top: 110px;
    padding-left: 80px;
    padding-right: 80px;
}

.feature-image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    margin-left: 24px;
    margin-right: 24px;
}

.feature-image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding-top: 70px;
    padding-left: 80px;
    padding-right: 80px;
}

.text-underlined {
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 32px;
    padding-bottom: 130px;
}

.under-image-text-2 {
    padding-right: 310px;
    padding-left: 310px;
}

.banner {
    display: flex;
    margin: 120px 240px;
    padding: 86px 70px;
    gap: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
}

.banner-items {
    text-align: center;
    width: 100%;
}

.banner-items>h2 {
    width: 372px;
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
}

.hot-deal {
    display: flex;
    gap: 180px;
    padding: 100px 350px;
    align-items: center;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-bottom: 120px;
}

.button-hd {
    padding-left: 215px;
}

.instagram>p {
    padding: 0px 650px;
    padding-bottom: 48px;
}

.insta-images {
    display: flex;
    padding: 0px 240px;
    padding-bottom: 130px;
    gap: 24px;
}

.latest-deal-full {
    background-image: url("../images/Rectangle-9.png");
    margin: 120px 240px;
    border-radius: 8px;
    padding: 80px 280px;
}

.input-ld{
    display: flex;
    gap: 15px;
}

.ld-text > p{
    padding-left: 120px;
    padding-bottom: 20px;
}

.input-ld>input {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding: 22px;
    padding-right: 510px;
    border: 0px;
    border-radius: 8px;
    background: #FFF;
}

.flower {
    color: #E55473;
}

footer {
    background-color: #111010;
    padding: 128px 650px;
    font-family: Lato;
}

.shop {
    color: #FFF;
}

.footeronedes {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 625px;
}

.footer-section-description {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.profile {
    width: 300px;
    display: flex;
}

.review-section {
    display: flex;
    gap: 100px;
    padding: 20px 390px;
    background-color: #FFF;
}